[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
    branch = 067923d3267325f525f4e46f357360c191ba562e
[submodule "coco_caption"]
	path = coco_caption
	url = https://github.com/LuoweiZhou/coco-caption.git
    branch = de6f385503ac9a4305a1dcdc39c02312f9fa13fc
